<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <button (click)="createPatient()" class="btn btn-info btn-fill pull-left">
                            Novo Paciente
                        </button>
                        <br />
                        <br />
                        <br />
                        <input type="text" class="form-control" [(ngModel)]="patientRegistrySearch"
                            name="patientRegistrySearch" placeholder="Digite o nome do paciente para pesquisar"
                            (keyup)="searchPatients()">
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of tableData.headerRow">{{ cell }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let patient of tableData.listPatients">
                                    <td (click)="selectPatient(patient)" style="cursor: pointer;">
                                        {{patient.registry}}
                                    </td>
                                    <td (click)="selectPatient(patient)" style="cursor: pointer;">
                                        {{patient.name}}
                                    </td>
                                    <td (click)="selectPatient(patient)" style="cursor: pointer;">
                                        {{patient.room}}
                                    </td>
                                    <td (click)="selectPatient(patient)" style="cursor: pointer;">
                                        {{patient.responsible}}
                                    </td>
                                    <td>
                                        <a style="cursor: pointer; font-size: 20px;" (click)="viewVitalSigns(patient)">
                                            <i class="pe-7s-note2" style="color: red;"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>