<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <lbd-chart
                  [title]="'Ocupação'"
                  [subtitle]="'Ocupação total dos quartos da ILPI'"
                  [chartClass]="'ct-perfect-fourth'"
                  [chartType]="emailChartType"
                  [chartData]="emailChartData"
                  [legendItems]="emailChartLegendItems"
                  [withHr]="true"
                  [footerIconClass]="'fa fa-clock-o'"
                  [footerText]="'Campaign sent 2 days ago'">
                </lbd-chart>
            </div>
            <div class="col-md-7">
                <lbd-chart
                  [title]="'Entradas/Saídas'"
                  [subtitle]="'Entradas e Saídas nos últimos meses'"
                  [chartType]="activityChartType"
                  [chartData]="activityChartData"
                  [chartOptions]="activityChartOptions"
                  [chartResponsive]="activityChartResponsive"
                  [legendItems]="activityChartLegendItems"
                  [withHr]="true"
                  [footerIconClass]="'fa fa-check'"
                  [footerText]="'Data information certified'">
                </lbd-chart>
            </div>
        </div>
    </div>
</div>
